html, body {
  height: 100%;
}

body {
  background-color: #dfdfdf;
  background-image: url("../img/halftone.png");
}

p {
  margin: 0;
  padding: 0.5em 0;
}

@font-face {
  font-family: "PT Sans Pro Condensed"; /* Имя шрифта */
  src: url("../ttf/PT Sans Pro Condensed.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Sans Pro Caption"; /* Имя шрифта */
  font-weight: normal;
  font-style: normal;
  src: url("../ttf/PT Sans Pro Caption.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: normal;
  font-weight: normal;
  src: url("../ttf/PT Serif Pro Book.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: italic;
  font-weight: normal;
  src: url("../ttf/PT Serif Pro Book Italic.woff"); /* Путь к файлу со шрифтом */
}

.pixellate-lock img {
  visibility: visible !important;
}
.pixellate-lock .pixellate-pixel {
  transform: none !important;
  opacity: 1 !important;
}

/* Настройка ScrollMagic */
html.touch div#content-wrapper {
  min-width: 700px;
}

#content-wrapper {
  max-width: 1920px;
  min-width: 650px;
  width: 76%;
  margin: 70px auto;
  overflow: hidden;
}

#content-wrapper section {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 650px;
  width: 100%
}

.scrollContent {
  position: relative;
  /*height: 100%;*/
}

/* Блок навигации по слайдам */
#navigation-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

#navigation-bar ul {
  display: none;
  list-style: none;
  font-size: 10px;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#navigation-bar ul li {
  display: inline-block;
  background-color: #353535;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #aaa;
  border-style: solid;
}

#navigation-bar ul li,
#navigation-bar ul li a,
#navigation-bar ul li.not-circle a:hover,
#navigation-bar ul li.not-circle:hover a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#navigation-bar ul li.active,
#navigation-bar ul li:hover {
  background-color: #eee;
  border-color: #353535;
}

#navigation-bar ul li.active,
#navigation-bar ul li.active a,
#navigation-bar ul li:hover,
#navigation-bar ul li:hover a {
  color: #000;
}

#navigation-bar ul li.not-circle {
  background-color: transparent;
  color: #353535;
  width: auto;
  height: 20px;
  line-height: 20px;
  border: none;
  text-shadow: 1px 1px 2px #000, 0 0 0.3em #353535;
  padding: 0 10px;
}
/* !Блок навигации по слайдам */

/* Контейнер с документами */
.docs-container {
  
}

.docs-container .imgs {
  width: 90%;
  margin-left: 5%;
  padding: 2.2em 0 0 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 15px 0 #353535;
  margin-bottom: 2em;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.docs-container.far .imgs img {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.docs-container.closer .imgs img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.docs-container.single .imgs img {
  max-width: 60%;
}

.docs-container.double .imgs img {
  max-width: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.triple .imgs img {
  max-width: 25%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.four .imgs img {
  max-width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.six .imgs img {
  max-width: 11%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.seven .imgs img {
  max-width: 9%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container .desc {
  width: 70%;
  margin-left: 15%;
  padding: 0 0 3em 0;
}

.docs-container .desc p {
  padding: 0;
  text-align: center;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
/* !Контейнер с документами */

/* Lightbox */
#lightbox {
  font-weight: normal;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
}

.lb-caption a {
  color: #ccc;
}
/* !Lightbox */

/* Блок browser isn't supported */
.not-supported {
  display: none;
}

html.no-canvas .not-supported,
html.no-opacity .not-supported,
html.no-textshadow .not-supported,
html.no-boxshadow .not-supported,
html.no-backgroundsize .not-supported,
html.no-rgba .not-supported,
html.no-hashchange .not-supported {
  display: block !important;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2e639e;
  color: #fff;
}

html.no-canvas .not-supported a,
html.no-opacity .not-supported a,
html.no-textshadow .not-supported a,
html.no-boxshadow .not-supported a,
html.no-backgroundsize .not-supported a,
html.no-rgba .not-supported a,
html.no-hashchange .not-supported a {
  font-weight: bolder;
  color: #fff;
}

html.no-canvas .not-supported h1,
html.no-opacity .not-supported h1,
html.no-textshadow .not-supported h1,
html.no-boxshadow .not-supported h1,
html.no-backgroundsize .not-supported h1,
html.no-rgba .not-supported h1,
html.no-hashchange .not-supported h1 {
  text-align: center;
  width: 100%;
}

html.no-canvas .not-supported .description,
html.no-opacity .not-supported .description,
html.no-textshadow .not-supported .description,
html.no-boxshadow .not-supported .description,
html.no-backgroundsize .not-supported .description,
html.no-rgba .not-supported .description,
html.no-hashchange .not-supported .description {
  margin-left: 25%;
  width: 50%;
}
/* !Блок browser isn't supported */

/* Блок no js support */
html.js .no-js-support {
  display: none !important;
}

.no-js-support {
  background-color: #fff;
  background-image: url("../img/warning-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9998;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
}

.no-js-support h1 {
  text-align: center;
  font-style: italic;
}

.no-js-support p {
  width: 70%;
  margin-left: 15%;
  font-size: 16pt;
}
/* !Блок no js support */

/* Загрузочный экран */
#loader-screen {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  z-index: 9997;
  background-image: url("../img/yarregion.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
  font-style: italic;
  font-size: 2em;
}
/* !Загрузочный экран */

#part0 img {
  width: 100%;
}

#part0 {
  position: relative;
}

#part0 h1,
#part0 h2 {
  position: absolute;
  margin: 0;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.85);
}

#part0 h1 {
  left: 0;
  max-width: 75%;
  top: 10%;
  text-align: left;
  /*font-family: "PT Sans Pro Caption", Arial, sans-serif;*/
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-style: italic;
  font-size: 2em;
  padding: 15px 10px 15px 50px;
}

#part0 h2 {
  bottom: 0;
  font-size: 1em;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

h2#part1_name,
h2#part2_name {
  z-index: 9998;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  left: 0;
  top: 0;
  background-color: #444;
  color: #fff;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #777;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

#part1_0 img {
  width: 100%;
  visibility: hidden;
}

#part1_0 {
  position: relative;
}

#part1_0 h1 {
  position: absolute;
  margin: 0;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 75%;
  left: 0;
  top: 10%;
  text-align: left;
  /*font-family: "PT Sans Pro Caption", Arial, sans-serif;*/
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-style: italic;
  font-size: 2em;
  padding: 15px 10px 15px 50px;
}

section#part1_1 {
  margin-top: 70px;
  background-color: #eaeaea;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part1_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#part1_1 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part1_3 {
  margin-top: 70px;
  background-color: #eaeaea;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part1_3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part1_3 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}


section#part1_4 .docs-container {
  width: 32%;
  float: left;
}

section#part1_7 {
  margin-top: 70px;
  background-color: #eaeaea;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part1_7.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part1_7 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part1_7 .docs-container {
  width: 50%;
  float: left;
}

section#part1_7 .docs-container p {
  font-size: 1em;
}

section#part1_7 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part1_10 {
  margin-top: 70px;
  background-color: #eaeaea;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part1_10.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part1_10 .a .docs-container {
  width: 50%;
  float: left;
}

section#part1_10 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part1_10 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part1_10 .docs-container p {
  font-size: 1em;
}

#part2_0 {
  position: relative;
  margin-top: 70px;
}

#part2_0 img {
  width: 100%;
  visibility: hidden;
}

#part2_0 h1 {
  position: absolute;
  margin: 0;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 75%;
  left: 0;
  top: 10%;
  text-align: left;
  /*font-family: "PT Sans Pro Caption", Arial, sans-serif;*/
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-style: italic;
  font-size: 2em;
  padding: 15px 10px 15px 50px;
}

section#part2_1 {
  margin-top: 70px;
  background-color: #777;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part2_1.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part2_1 .a .docs-container {
  width: 50%;
  float: left;
}

section#part2_1 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_1 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part2_1 .docs-container p {
  font-size: 1em;
}

section#part2_2 {
  margin-top: 70px;
  background-color: #777;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part2_2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part2_2 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part2_3 .a .docs-container {
  width: 50%;
  float: left;
}

section#part2_3 .a:after {
  clear: both;
  content: "";
  display: block;
}


section#part2_3 .docs-container p {
  font-size: 1em;
}

section#part2_4 {
  margin-top: 70px;
  background-color: #777;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part2_4.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part2_4 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part2_6 .a .docs-container {
  width: 50%;
  float: left;
}

section#part2_6 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_7 {
  margin-top: 70px;
  background-color: #777;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part2_7.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part2_7 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part2_8 .a .docs-container {
  width: 50%;
  float: left;
}

section#part2_8 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_9 {
  margin-top: 70px;
  background-color: #777;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part2_9.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part2_9 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part2_9 .docs-container p {
  font-size: 1em;
}

section#part2_9 .a .docs-container {
  width: 50%;
  float: left;
}

section#part2_9 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_10 .a .docs-container {
  width: 50%;
  float: left;
}

section#part2_10 .a:after {
  clear: both;
  content: "";
  display: block;
}

section#part2_11 {
  margin-top: 70px;
  background-color: #777;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
  padding: 100px 0;
  /*border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;*/
  box-shadow: inset 0 0 6px 2px #555;
  background-image: url("../img/bg_part2_11.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

section#part2_11 p {
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  width: 76%;
  margin-left: 12%;
  font-weight: normal;
  font-size: 1.6em;
}

section#part2_11 .docs-container.f {
  width: 40%;
}

section#part2_11 .docs-container.s {
  width: 60%;
}

section#part2_11 .docs-container {
  float: left;
}

section#part2_11 .docs-container p {
  font-size: 1em;
}

section#part2_11 .a:after {
  clear: both;
  content: "";
  display: block;
}

#part2_11 p.quote {
  font-style: italic;
  font-size: 2em;
  line-height: 1.4em;
  margin-top: 1em;
}

#part2_11 p.quote .big {
  font-size: 150%;
  font-weight: bold;
}
/* Для мобильных экранов */
@media screen and (max-width: 720px) {
  body {
    min-width: 720px;
  }
}

section#part2_12 .docs-container {
  width: 32%;
  float: left;
}

section#part2_12 .a:after {
  clear: both;
  content: "";
  display: block;
}
/* Для мобильных экранов */

/* Для экранов, бОльших чем 720 пикс в длину */
@media screen and (min-width: 721px) {
  body {
    min-width: 1150px;
  }
}
/* Для экранов, бОльших чем 720 пикс в длину */

/* Для экранов, бОльших чем 1280 пикс в длину */
@media screen and (min-width: 1281px) {
}
/* Для экранов, бОльших чем 1280 пикс в длину */

/* Для экранов, бОльших чем 1366 пикс в длину */
@media screen and (min-width: 1367px) {
}
/* Для экранов, бОльших чем 1366 пикс в длину */

/* Для экранов, бОльших чем 1440 пикс в длину */
@media screen and (min-width: 1441px) {
}
/* Для экранов, бОльших чем 1440 пикс в длину */

/* Для экранов, бОльших чем full hd */
@media screen and (min-width: 1921px) {
}
/* Для экранов, бОльших чем full hd */

/* Для экранов, бОльших чем macbook pro with retina display 13' */
@media screen and (min-width: 2561px) {
}
/* Для экранов, бОльших чем macbook pro with retina display 13' */
